*, *::before, *::after {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: linear-gradient(to right, #1e1e1e, #000000);
  }

  .grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(1, 30rem);
    grid-template-rows: minmax(7rem, auto) repeat(6, 6rem);
  }

  .newImage {
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid white;
    outline: none;
    height: 30px;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    background-color: rgb(253, 245, 0);
  }
  

.duckImg{
  margin-top: 5rem;
}