*, *::before, *::after {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: linear-gradient(to right, #a0ceea, #265475);
  }

  .grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(1, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(2, 6rem);
  }